<md-card *ngFor="let profile of profiles" class="profile">
  <img md-card-image class="profilePicture" src={{profile.image}}>
  <md-card-header class="info">
    <md-card-title class="name">{{profile.firstname}}</md-card-title>
    <md-card-title class="name">{{profile.lastname}}</md-card-title>
    <md-card-subtitle class="gender">{{getGender(profile.gender)}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>

  </md-card-content>
  <md-card-actions>
    <button md-button (click)="goToTree(profile.id)">TREE</button>
    <button md-button>EDIT</button>
  </md-card-actions>
</md-card>