<div class="dialogChoice">
    <h1 class="dialogTitle" md-dialog-title>New Relationship</h1>
    <md-select class="choice" placeholder="Parent type" [(ngModel)]="parentType">
        <md-option *ngFor="let parentType of parentTypes" [value]="parentType">{{ parentType }}</md-option>
    </md-select>
    <md-select class="choice" placeholder="Parent" [(ngModel)]="parent">
        <md-option *ngFor="let node of nodes" [value]="{type: 'node', id: node.id}">{{ node.firstname }}</md-option>
        <md-option *ngFor="let link of links" [value]="{type: 'link', id: link.id}">{{ link.source.firstname }} - {{link.target.firstname}}</md-option>
    </md-select>
    <md-select class="choice" placeholder="Child" [(ngModel)]="child">
        <md-option *ngFor="let node of nodes" [value]="node.id">{{ node.firstname }}</md-option>
    </md-select>
    <button class="addButton" (click)="createNewParent()" md-raised-button>Add</button>
</div>