.dialogTitle {
    margin: 20px!important;
    padding: 20px!important;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid black;
}

.dialogChoice {
    height: 800px;
    width: 800px;
}

.choice {
    margin: 20px!important;
    display: block;
}
.addButton {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}
.choice {
    margin-top: 15px!important;
    margin-left: 15px!important;
    margin-bottom: 15px!important;
    display: block;
}
.container {
    display: block;
    width: 300px;
    margin-top: 20px!important;
}
.form {
    position: absolute;
    width: 60%;
    height: 80%;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
}
md-tab-group {
    height: 100%!important;
}
.accountInput {
    width: 300px;
    display: block;
    margin: 10px;
}
.date {
    margin-top: 20px!important;
    width: 50px;
}