.dialogTitle {
    margin: 20px!important;
    padding: 20px!important;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid black;
}

.dialogChoice {
    height: 800px;
    width: 800px;
}

.choice {
    margin: 20px!important;
    display: block;
}
.addButton {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}