.choice {
    margin-top: 15px!important;
    margin-left: 15px!important;
    margin-bottom: 15px!important;
    display: block;
}
.container {
    display: block;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 300px;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}
.form {
    position: absolute;
    width: 60%;
    height: 80%;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
    text-align: center;
}
md-tab-group {
    height: 100%!important;
}
.accountInput {
    width: 300px;
    display: block;
    margin: 10px;
}
.date {
    margin-top: 20px!important;
    width: 50px;
}
#error {
    background-color:#FF1744;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 30px;
    color: black;
    font-size: 30px;
    max-width: 300px;
    max-height: 100px;
}

.searchInput {
    width: 100px;
}

.profile {
  width: 400px;
  height: 200px;
  margin: 30px!important;
  position:relative;
  left: 50%;
  transform: translate(-50%, 0%);
  cursor: pointer;
  display: block;
}
.search {
    position: relative;
    top: 50px;
}
.profilePicture {
    position: relative;
    float: left;
    width: auto;
    height: 100%;
}
.info {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: none;
    width: 50%;
}
.name {
    font-size: 20px!important;
}