.navbar {
    background-color: black;
    height: 60px;
    margin: 0px;
    width: 100%;
    font-family: Helvetica, sans-serif;
    display: inline-block;
    color: white;
}


/*.menuLink {
    margin: 10px;
    background-color: green;
    list-style: none;
}*/

.title {
    width: fit-content;
    padding: 20px;
    color: white;
    display: block;
}

ul {
    width: fit-content;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    width: fit-content;
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}