.media {
    height: 300px;
    min-width: 75%;
    max-width: 80%;
    background-color: black;
    /* position: relative; */
     float: left; 
     margin: none;
}

#previous,
#next {
    background-color: black;
    color: white;
    height: 300px;
    width: 10%;
    border-radius: 0px;
    margin: 0px;
    z-index: 10;
}

#previous:hover {
    opacity: 0.8;
    transition: 0.2s;
}

#next:hover {
    opacity: 0.8;
    transition: 0.2s;
}

#previous {
    float: left;
}

#next {
    float: left;
}

.wrapper {
    background-color: gray;
    position: relative;
    float: left;
    clear: both;
    width: 100%; 
    height: auto;
    left: 50%;
    transform: translate(-50%, 0%);
    display: block;
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px!important;
}