.profilePicture {
    width: 450px;
    height: auto;
    padding-top: 20px!important;
    box-shadow: 1px 1px 1px #212121;
}

.name {
    top: 30px;
    margin-bottom: 20px!important;
}

.life {
    top: 60px;
}
.events {
    margin-top: 150px!important;
}
.basicInfo {
    position: absolute;
    top: 5%;
    left: 40%;
}