.profilePicture {
    width: auto;
    height: 300px;
    padding: 2px;
    box-shadow: 3px 3px 2px #888888;
    /*position: absolute;
    left: 10px;
    top: 10px;*/
}

.name {
    position: absolute;
    left: 600px;
    top: 30px;
}

.life {
    position: absolute;
    left: 400px;
    top: 60px;
}