<!--<graph *ngIf="ready" [nodes]="nodes" [links]="links" [parents]="parents" (outputNodeEvent)="outputNodeEvent($event)" (outputRelEvent)="outputRelEvent($event)"></graph>-->
<svg #svg width="100%" [attr.height]="height">
    <g [zoomableOf]="svg">
        <g [linkVisual]="link" *ngFor="let link of links"></g>
        <g [parentVisual]="parent" *ngFor="let parent of parents"></g>
        <g nodeVisual [nodeVisual]="node" [tree]="this" *ngFor="let node of nodes" (outputNodeEvent)="outputNodeEvent($event)"></g>
    </g>
</svg>
<button md-fab (click)="openDialog()" class="add">
    <i class="material-icons">
        add
    </i>
</button>
<button md-fab class="share">
    <i class="large material-icons">
        share
    </i>
</button>
<button md-raised-button class="newContent" (click)="saveContent()" *ngIf="newContent">Save</button>
<md-spinner *ngIf="savingContent" class="savingContent"></md-spinner>