<div oncontextmenu="return false;">
    <div id="error">{{error}}</div>
    <svg #svg width="100%" [attr.height]="height">
        <g [zoomableOf]="svg">
            <g [linkVisual]="link" *ngFor="let link of visibleRelationships"></g>
            <g [parentVisual]="parent" *ngFor="let parent of visibleParents"></g>
            <g [node]="node" (contextmenu)="onRightClickEvent($event, node)" *ngFor="let node of visibleNodes"></g>
        </g>
    </svg>
    <button md-fab (click)="openDialog()" class="add" mdTooltip="New component" [mdTooltipPosition]="'left'">
<i class="material-icons">create</i>
</button>
    <button md-fab class="share" (click)="search()" mdTooltip="Search for a profile" [mdTooltipPosition]="'left'">
<i class="material-icons md-36">search</i>
</button>
    <button md-raised-button class="newContent" (click)="saveContent()" *ngIf="newContent">
<i class="material-icons">backup</i>
Save
</button>
    <button md-raised-button class="undo" (click)="undo()" *ngIf="lastModifications.length > 0">
    <i class="material-icons">undo</i>Undo
</button>
    <md-spinner *ngIf="savingContent" class="savingContent"></md-spinner>
</div>
<md-checkbox style="position: absolute; top: 80%" (change)="onTimeChange($event)">Activate time</md-checkbox>
<div *ngIf="timeActivated">
    <div style="position: absolute; top: 90%">{{dates[currentDateIndex]}}</div>
    <md-slider [min]="0" [max]="dates.length - 2" [step]="1" [value]="currentDateIndex" [(ngModel)]="currentDateIndex" (input)="filterData($event)"></md-slider>
</div>