.group {
    width: 500px;
    padding: 20px!important;
    margin: 20px!important;
}

.radio {
    display: block;
}
.radioGroup {
    height: 400px!important;
}
.sideIcon {
    position: relative;
    top: 7px;
}