<div class="dialogChoice">
    <h1 class="dialogTitle" md-dialog-title>New Relationship</h1>
    <md-select placeholder="Relationship type" [(ngModel)]="relationshipType">
        <md-option *ngFor="let relationshipType of relationshipTypes" [value]="relationshipType">{{ relationshipType }}</md-option>
    </md-select>
    <md-select placeholder="From" [(ngModel)]="from">
        <md-option *ngFor="let node of nodes">{{ node.firstname }}</md-option>
    </md-select>
    <md-select placeholder="To" [(ngModel)]="to">
        <md-option *ngFor="let node of nodes">{{ node.firstname }}</md-option>
    </md-select>
    <button (click)="createRelationsip()" md-raised-button>Add</button>
</div>