.dialogButton {
    margin: 10px;
    clear: both;
    padding: 10px;
}

.dialogChoice {
    font-family: "Helvetica";
    padding: 15px!important;
    width: 1200px!important;
    height: 800px!important;
}

.profilePic {
    clear: none;
    margin: 20px;
    width: 100px;
    height: auto;
}

.name {
    clear: none;
    width: fit-content!important;
}