.event {
    padding: 30px!important;
    margin: 30px!important;
    border: 1px solid lightgray;
}
.title {
    cursor: pointer;
    text-align: center;
}
.title:hover {
    text-decoration: underline;
}

.eventType {
    text-align: center;
}