#profileView {
    position: relative;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0);
}
.edit {
    z-index: 1;
    position: fixed;
    right: 20px;
    margin: none;
    bottom: 10px;
}

.create {
    z-index: 1;
    position: fixed;
    right: 20px;
    margin: none;
    top: 10%;
}

.edit,
.create {
    font-size: 1.8rem;
    width: 60px;
    height: 60px;
}