#profileView {
    position: relative;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0);
}
.edit {
    bottom: 10px;
}

.create {
    top: 10%;
}
.tree {
    top: 50%;
}
.edit,
.create,
.tree {
    right: 20px;
    z-index: 1;
    position: fixed;
    margin: none;
    font-size: 1.8rem;
    width: 60px;
    height: 60px;
}